.full-size{
    width: 100%;
    height: 100%;

}
.buttons {
    margin: 4px;

}
.card {
    height: 100%;
    width: 100%;
}
@media (min-width: 550px) {
    .card {
        width: 550px;
        height: auto;
    }
}